p a:active{
    -webkit-text-size-adjust: 100%;
    background-color: #f8f8f8;
	color: #000000;
    text-shadow: rgb(54, 202, 9) 0px 2px 4px;
    border-radius: 40px;
	outline: 0!important;
    transition: all 0.3s ease 0s;
}

h2{
    -webkit-text-size-adjust: 100%;
	color: #ffffff;
	text-shadow: #1fc90fad 1px 1px 2px;
    margin-bottom: 50px;
    margin-block-start: 2.65em;
	text-align: center;
    font: 12px 'Open Sans',-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
    font-size: 30px;
    font-weight: 600;
}

#text{
    -webkit-text-size-adjust: 100%;
	color: #f8f8f8;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
    font-size: 17px;
    font-weight: 400;
    line-height: 165%;
    font-family: 'Open Sans',-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
    word-break: break-word;
    margin-block-start: 1.65em;
    margin-block-end: 1.65em;
}

span{
    -webkit-text-size-adjust: 100%;
	color: #c5c5c5;
	text-align: left;
    font-size: 17px;
    font-weight: 400;
    line-height: 165%;
    font-family: 'Open Sans',-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
    word-break: break-word;
}

#image1{
    -webkit-text-size-adjust: 100%;
	background-image: url("../images/statistics-books1.png");
	width: 700px;
	height: 385px;
	background-repeat: no-repeat;
    margin: auto;
	margin-top: 50px;
	border: 2px rgba(0, 255, 21, 0.74) solid;
	box-shadow: rgb(255, 255, 255) 2px 2px 4px;
}